@import '../../style/styleBoo';

.navbar {
    background-color:$secondary;
    font-family: $mainFontFamily;

  }
  #responsive-navbar-nav {
    justify-content: flex-end;}

.lins {
  color:$primary !important;
  margin: 0 0.5rem;

  &:hover {
    font-weight: bold;
  }
}

.SBTN {
  background-color: $primary !important;
  border: $primary !important;
}