@import '../../style/styleBoo';

.table
{
    color: black;
}
.col
{
    margin-left: 1vw;
}
.Dimag

{ 
    border: 2px solid gray;
    width: 56vw;
 align-items: center;
 margin: auto;
}
.Pname
{
    color: black;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 1vw;
}
.stakeholder
{
    color: black;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight:500;
    background-color: rgb(100, 177, 100);
}
.stakeholder1
{
    color: black;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight:500;
    background-color: rgb(106, 83, 117);
}
.stakeholder2
{
    color: black;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight:500;
    background-color: rgb(48, 84, 95);
}
.description
{
    color: black;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: 400;
}
.desc
{
    color: black;
    margin-right: 2vw;
    text-align: justify;
    font-size: 2vw;
}