@import '../../style/styleBoo';

.header {
    text-align: bold;
    
    margin-bottom: 10px;
}

.margin {
    margin-left: -180px;
}

.color{
    color: silver;
}

.bold{
    font-weight: bold;
}

.inbox{
    width: 55px;
}

.button{
    margin-left: 5px;
}

.btn{
    margin-left: 30px;
}

.btn1{
    margin-left: 59px;
}

.btn2{
    margin-left: 43px;
}
.btn3{
    margin-left: 55px;
}
.btn4{
    margin-left: 47px;
}

.btn5{
    margin-left: 27px;
}