@import '../../style/styleBoo';

.Header
{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: -5px;
    color: black;
}
.font
{
    font-family: Mplus 1p;
    color: black;
}

.space
{
    margin-bottom:  100px;
    color: black;
}