@import '../../style/styleBoo';

.text
{
    font-family: Mplus 1p;
    text-align: left;
    display:flex;
    align-items:center;
}
.back
{
    background-color: $primary;
}
.B1B{
    background-color:$primary !important;
    border-color:$primary !important;

}