@import '../../style/styleBoo';

.box 
    {
        position: absolute;
        font-size: 3.5vw;
        font-weight: bold ;
        margin-left: 30vw;
        margin-right: 5vw;
        margin-top: 5vw;
        color:white;
        -webkit-text-stroke-color:black;
        -webkit-text-stroke-width: 0.1vw; 
    }

.profile 
    {
        margin-top: -7vw;
        margin-left: 7vw;
        width: 22vw;
        height: 22vw;
        border: 0.5vw solid white;
        border-radius: 40vw;
        position: absolute;
        color: white;
        box-shadow: 4px 4px 20px #000000;
    }

.name 
    {
        margin-left: 20vw;
        margin-top: 1.5vw;
        margin-right: 30vw;
        border-radius: 1vw;
        background-color: white;
        box-shadow: 0.3vw 0.3vw 0.5vw gray;
    }

.info 
    {
        margin-left: 20vw;
        margin-right: 40vw;
        margin-top: 1vw;
        border-radius: 1vw;
        background-color: white;
        font-weight: bold;
        color: $primary;
        box-shadow: 0.3vw 0.3vw 0.5vw gray;
    }

    .align1 
    {
        margin-left: 8.5vw;
        font-size: 2vw;
    }

    .align2 
    {
        margin-left: 10vw;
        font-size: 4vw;
    }