@import '../../style/styleBoo';

.box 
    {
        position: absolute;
        font-size: 3.5vw;
        font-weight: bold ;
        margin-left: 30vw;
        margin-right: 5vw;
        margin-top: 5vw;
        color:white;
        -webkit-text-stroke-color:black;
        -webkit-text-stroke-width: 0.1vw; 
    }
.profile 
    {
        margin-top: -7vw;
        margin-left: 7vw;
        width: 22vw;
        height: 22vw;
        border: 0.5vw solid white;
        border-radius: 40vw;
        position: absolute;
        color: white;
        box-shadow: 0.4vw 0.4vw 3vw #000000;
    }
.name 
    {
        margin-left: 20vw;
        margin-top: 1.5vw;
        margin-right: 30vw;
        border-radius: 1vw;
        background-color: white;
        box-shadow: 0.3vw 0.3vw 0.5vw gray;
    }
.info 
    {
        margin-left: 20vw;
        margin-right: 40vw;
        margin-top: 1vw;
        border-radius: 1vw;
        background-color: white;
        font-weight: bold;
        color: $primary;
        box-shadow: 0.3vw 0.3vw 0.5vw gray;
    }
.align1 
    {
        margin-left: 8.5vw;
        font-size: 2vw;
    }
.align2 
    {
        margin-left: 10vw;
        font-size: 4vw;
    }
.fontcolor
    {
        -webkit-text-stroke-color:black;
        color: black;
        font-weight: 500;
    }
.Delete
    {
        background-color: red;
        color: white;
        font-weight: bold;
        border-radius: 1vw;
        font-size: 1.5vw;
        height:3vw;
        border: 0.1vw solid #EDE7F6;
    }
.MDonations
    {
        font-size: 1.8vw;
        border-radius: 1vw;
        box-shadow: 0.3vw 0.3vw 0.5vw gray;
        margin-top: 2vw;
        margin-right: 10vw;
        margin-left: 10vw;
        height:3vw;
        background-color:#EDE7F6;
        text-align: center;
    }
.blue
    {
        color:$primary;
    }