@import '../../style/styleBoo';

.tcol {
    border-bottom: 2px solid $primary;
margin-right: 30%;
margin-left: 30%;
margin-bottom: 2%;
}
.messages{
    text-align: left;
    margin-top: 6px;
    margin-bottom: 2px;
    color: $primary;
    font-weight: bold;
    
}

.title {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 2px;
    color: $primary;
    font-weight: bold;
    
}
.FICON {
    align-items: center;
    margin: 5px ;
    font-size: 20px;
}
.Box {
    margin: 10px;
    border: black 2px;
}
.BoxForm    {
    align-items: center;
    padding: 8px;
}
.Btn1{
    width: 50%;
    background-color:$primary !important;
    border-color: $primary !important;
    margin-right: 30%;
margin-left: 30%;
margin-bottom: 2%;
}
.Btn2{
    width: 50%;
    
    border-color: $primary !important;
    background-color: white !important;
    color: $primary !important;;
}
.ic {
    color:$primary !important ;
}

.imageInput{
    margin-left: 15vw;
    margin-top: 15vw;
}

